* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header,
footer {
  background-color: rgb(87, 83, 78);
  color: aliceblue;
  padding: 30px;
  text-align: center;
}


ul,
a,
li {
  background-color: wheat;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  line-height: 100px;
}
nav {
  width: 30%;
  float: left;
}
article {
  padding-left: 10px;

}
section::after {
  content: "";
  display: table;
  clear:both;
}
@media (mzx-width: 600px) {
  nav, article{
    width: 100%;
    height: auto;
  }
}
  aside{
    background-color: wheat;
    height: 300px;
    float: right; 
  }
