.pink-box {
  background-color: pink;
  width: 300px;
  height: 200px;
}
.blue-circle {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  left: 100px;
}
.yellowgreen-rounded-rectangle {
  background-color: yellowgreen;
  
  width: 300px;
  height: 200px;
  /* border-radius: 20%; */
}
p.x{
    position: absolute;
    color: white;  
    top: 190px;
    left: 120px;
}
p{
    position: absolute;
    color: black;  
    left: 110px;
    z-index: 1;
}