* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media only screen and (max-width: 600px) {
  #img {
    display: none;
  }
}
iframe {
  width: 700px;
}
#logo {
  width: 190px;
  height: 150px;
}
.navParent {
  display: flex;
  font-size: large;
}

.navItem {
  padding-left: 50px;
  padding-top: 50px;
  text-decoration: none;
  color: #4c2510;
  color: #4c2510;
}
.navItem:hover {
  text-decoration: underline;
}
body {
  background-color: F5F5F5;
}

footer {
  background-color: #c3c6c4;
  color: aliceblue;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
footer > img {
  padding-left: 20%;
}
section {
  text-align: center;
  color: #4c2510;
}
section > p {
  text-align: justify;
  padding-left: 100px;
  color: #4c3610;
  cursor:text;

}
.gridParent {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  display: flex;
  position: absolute;
  left: 45em;
  top: 35em;
  cursor:wait;

}
#img {
  z-index: 1;
  position: absolute;
  left: 625px;
  bottom: 0;
  width: 800px;
  padding: 0px;
  float: right;
  margin: 0 0 0 15px;
}
