* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}
header,
footer {
  background-color: rgb(87, 83, 78);
  color: aliceblue;
  padding: 30px;
  text-align: center;
}
section {
  display: flex;
}
nav,
ul,
a {
  background-color: wheat;
  text-decoration: none;
  list-style: none;
  width: 120px;
  color: rgb(0, 0, 0);
  line-height: 100px;
}
nav {
  flex: 1;
}
article {
  padding-left: 20px;
  width: 1100px;
  flex: 5;
}
aside {
  flex: 2;
  background-color: wheat;
}
.gridParent {
  padding: 10px;
  /* display: grid; */
  grid-template-columns: auto auto auto;
  display: flex;
}
.gridItem{
  flex: 1;
}
