* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}
header,
footer {
  background-color: rgb(87, 83, 78);
  color: aliceblue;
  padding: 30px;
  text-align: center;
}
section {
  display: flex;
}
nav,
ul,
a {
  background-color: wheat;
  text-decoration: none;
  list-style: none;
}
article{
    padding-left: 20px;
}
