<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<div class="container">
  <h2>Weather App</h2>
  <form (submit)="getWeather()">
    <input type="text" (ngModel)="cityName" placeholder="Enter City" />
    <button type="submit">Show Temperature</button>
  </form>
  <app-weather-display ngLf="Temperature" [temperature]="Temperature"></app-weather-display>
</div>
