<nav class="nav justify-content-center">
  <a class="nav-link active" routerlink="/">Home</a>
  <a class="nav-link active" routerlink="/portfolio">Portfolio</a>
  <a class="nav-link active" routerlink="/about">About Us</a>
</nav>
<router-outlet></router-outlet>

<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
