* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}
header,
footer {
  background-color: rgb(87, 83, 78);
  color: aliceblue;
  padding: 30px;
  text-align: center;
}
section {
  
}
ul,
a,
li {
  background-color: wheat;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  line-height: 100px;
}
nav{
    float: left ;
    width: 30%;
    height: 450px;
}
article {
    padding-left: 20px;
}
